# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

# Environment
.env

# Datos de entrada/salida (no versionar archivos reales de medición)
data/input/*
data/processed/*
data/rejected/*
!data/input/.gitkeep
!data/processed/.gitkeep
!data/rejected/.gitkeep

# Editor/OS
.vscode/
.idea/
Thumbs.db


# Frontend / Node.js
node_modules/
dist/
dist-ssr/
.eslintcache
npm-debug.log*

# Variables de entorno locales de Vite
.env.local
.env.*.local

# Sistema Operativo (Buenas prácticas si algún compañero usa macOS)
.DS_Store